body {
    background: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 20%;
    height: 300px;
    margin-left: 30px;
    margin-top: 10VH;
    margin-bottom: 5VH;
    border-radius: 30px;
}

#test1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    margin-top: 40px;
    text-align: center;
}

a {
    
    margin-right: 40px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    border: 2px solid grey;
    padding: 15px;
    background: gray;
    border-radius: 20px;
}

a:hover {
    color: black;
    background: yellow;
}

h1 {
    text-align: center;
    color: white;
}